modules = ["nodejs-20", "python-3.11", "web"]
run = "index.html"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "node index.js"]

[workflows]
runButton = "Serve Portfolio"

[[workflows.workflow]]
name = "Serve Portfolio"
author = 26127543
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 8000 --bind 0.0.0.0"

[[ports]]
localPort = 5000
externalPort = 80
