body {
 	background-image: url("../images/FinalRender2.png");
    font-family:monospace;
    color:Gray;
  	}

	#locator{
		  text-align: justify;
		  position: static;
	}
	
	
	#navbar {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: #767676;
  	}
	
	nav ul {
    margin: 0px;
    padding: 5px 0px 5px 30px;
  	}
	
  	nav li {
    display: inline;
    margin-right: 20px;
  	}
	
	h3 {
	font-size: 40px;
	font-weight: 500;
	position: relative;
	top: 15px;
	}
	
	p {
    font-size: 16px;
  	}
	
  	a {
    color: cyan;
	text-decoration: none;
  	}
	
  	a:hover {
    color:red;
  	}
	
  	section {
    position: relative;
  	}
	
  	#orange-text {
	color: orange;
	}
	
  	#orange-text:hover {
	color: red;
	}
	
  	.Yellowtxt{
	color: yellow;
	}
	
	.box {
    border-style: none;
    border-color: black;
    border-width: 5px;
    text-align: center;
	}
	.material-icons.md-24 { font-size: 24px; }
	.material-icons.md-light { color: rgba(255, 255, 255, 1)}
	
	ion-icon {
  	font-size: 32px;
	}
	
	#myimage1 {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 400px;
  top: 200px;
  }

.index_img {
  max-width: 100%;
  height: auto;
}

.index_div {
  /* border: solid;
  border-width: 0.5px; */
  text-align: center;
  padding: 10px;
}


.vividworknav {
  max-width: 100%;
  height: auto;
  text-align: center;
  padding: 0;
  float: left;
  padding: 0;
  position: relative;
  background-color: black;
}

.vividworknav:hover img {
  opacity: 0.3;
}

.vividworknav:hover .work-text-content {
  opacity: 1;
}

.vividworknav img {
  padding: 10px;
  width: 100%;
  display: block;
  opacity: 1;
  background-color: white;
}

.vividworknav img,
.work-text-content {
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.work-text-content {
  position: absolute;
  color: white;
  left: 0;
  top: 45%;
  right: 0;
  bottom: 0;
  font-size: 24px;
  text-align: center;
  opacity: 0;
  font-family: Oxygen;
}
.block-content{
    text-align: left;
    font-family: Oxygen;
    padding: 8px;
    font-size: 18px;
  }

	.tablink {
	  background-color: #555;
	  color: white;
	  float: left;
	  border: none;
	  outline: none;
	  cursor: pointer;
	  padding: 14px 16px;
	  font-size: 17px;
	  width: 25%;
	}
	
	.tablink:hover {
      background-color: #777;
    }
	
	.tabcontent {
	  position: relative;
	  padding: 20px 20px;
	  top:40px;
     }

